{
   "presets": ["next/babel", "@babel/preset-react"],
   "plugins": [
      [
         "babel-plugin-styled-components",
         { "ssr": true, "displayName": false, "preprocess": false },
         "styled-components"
      ],
      ["@babel/plugin-proposal-object-rest-spread", {}, "object-rest-spread"],
      ["@babel/plugin-transform-runtime", {}, "transform-runtime"]
   ]
}
