body::-webkit-scrollbar {
   width: 0.5em;
}
body::-webkit-scrollbar-thumb {
   background-color: #e8d8b6;
   border-radius: 3px;
}
html {
   opacity: 0;
   -webkit-font-smoothing: antialiased;
}
html .logo {
   opacity: 0;
   transition: opacity 2s ease-out;
   transition-delay: 0.25s;
}
html .logo__slogan {
   opacity: 0;
   transition: opacity 1s ease-out 0.5s;
}
html .mainheader {
   opacity: 0;
   transition: opacity 2s ease-out;
   transition-delay: 2.5s;
}
html .city,
html .city .storey {
   opacity: 0;
   transition: opacity 3s ease-out;
   transition-delay: 2s;
}
html.wf-active {
   opacity: 1;
   transition: opacity 1s ease-out;
}
html.wf-active .logo {
   opacity: 1;
   transition: none;
}
html.wf-active .city,
html.wf-active .city .storey,
html.wf-active .logo__slogan,
html.wf-active .mainheader {
   opacity: 1;
}
html.noscroll {
   position: fixed;
   overflow-y: scroll;
}
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background: #1b2334;
   font-family: freight-display-pro, serif;
   font-weight: 300;
   font-size: 16px;
   color: #333;
   overflow-y: auto;
   position: static;
}
body.is-frozen {
   overflow-y: scroll;
   position: fixed;
}
body.is-logo-visible .mainheader__about > svg {
   opacity: 0.2;
}
body.is-logo-visible .mainheader__about > span:first-child {
   opacity: 1;
}
body.is-logo-visible .mainheader .logo {
   pointer-events: true;
}
@-webkit-keyframes blink {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
@keyframes blink {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
p > a {
   color: #e8d8b6;
}
.button {
   display: inline-block;
   border: 2px solid #0b1928;
   color: #0b1928;
   margin: 0 auto;
   font-family: lato, sans-serif;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 14px 0 12px;
   height: 20px;
   width: 211px;
   transition: color 0.3s ease-out, border-color 0.3s ease-out;
}
@media (max-width: 767px) {
   .button {
      margin-left: 10px;
      margin-right: 10px;
   }
}
@media (max-width: 480px) {
   .button {
      margin-bottom: 15px;
   }
}
.button:hover {
   border-color: #e8d8b6;
   color: #e8d8b6;
}
.button__submitstory {
   -ms-grid-column: 1;
   grid-column-start: 1;
   grid-column-end: 1;
   -ms-grid-row: 2;
   grid-row-start: 2;
   grid-row-end: 2;
}
.button__tts {
   -ms-grid-column: 3;
   grid-column-start: 3;
   grid-column-end: 3;
   -ms-grid-row: 2;
   grid-row-start: 2;
   grid-row-end: 2;
}
.social-media {
   margin-top: 10px;
   margin-bottom: 10px;
}
@media (max-width: 767px) {
   .social-media {
      margin-bottom: 30px;
   }
}
.social-media .email,
.social-media .facebook,
.social-media .instagram,
.social-media .twitter {
   display: inline-block;
   vertical-align: middle;
   margin-left: 13px;
   margin-right: 13px;
}
.social-media .email .path,
.social-media .email path,
.social-media .facebook .path,
.social-media .facebook path,
.social-media .instagram .path,
.social-media .instagram path,
.social-media .twitter .path,
.social-media .twitter path {
   transition: fill 0.3s ease-out;
   fill: #e8d8b6;
}
.social-media .email:hover path,
.social-media .email:hover polygon,
.social-media .facebook:hover path,
.social-media .facebook:hover polygon,
.social-media .instagram:hover path,
.social-media .instagram:hover polygon,
.social-media .twitter:hover path,
.social-media .twitter:hover polygon {
   fill: #fff;
}
.social-media .facebook {
   margin-top: -4px;
}
* {
   margin: 0;
   padding: 0;
}
@keyframes move-clouds-back {
   0% {
      background-position: 0 0;
   }
   to {
      background-position: 10000px 0;
   }
}
@-webkit-keyframes move-clouds-back {
   0% {
      background-position: 0 0;
   }
   to {
      background-position: 10000px 0;
   }
}
@keyframes move-twink-back {
   0% {
      background-position: 0 0;
   }
   to {
      background-position: -10000px 5000px;
   }
}
@-webkit-keyframes move-twink-back {
   0% {
      background-position: 0 0;
   }
   to {
      background-position: -10000px 5000px;
   }
}
.twinkling {
   background: transparent url(../images/twinkle.png) repeat top;
   z-index: 1;
   -webkit-animation: move-twink-back 400s linear infinite;
   animation: move-twink-back 400s linear infinite;
}
.clouds,
.stars,
.twinkling {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: block;
}
.twinkling {
   z-index: 6;
   display: none;
}
.stars {
   background-image: url(../images/stars.png) !important;
   height: 150%;
   z-index: 5;
}
.clouds {
   background: transparent url(../images/clouds3.png) repeat top;
   z-index: 3;
   opacity: 0.3;
   z-index: 6;
   max-height: 669px;
   -webkit-animation: move-clouds-back 200s linear infinite;
   animation: move-clouds-back 200s linear infinite;
}
.about-overlay {
   display: block;
   position: fixed;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   padding-top: 120px;
   background-color: #273f5d;
   pointer-events: none;
   opacity: 0;
   z-index: 11;
}
@media (max-width: 480px) {
   .about-overlay {
      padding-top: 50px;
   }
}
.about-overlay--visible {
   pointer-events: all;
}
.about-overlay__logo {
   width: 50px;
}
@media (max-width: 420px) {
   .about-overlay__logo {
      width: 40px;
   }
}
.about-overlay__logo path {
   fill: #e8d8b6;
}
.about-overlay__cta {
   font-size: 1.5em;
}
.about-overlay__inner {
   -webkit-overflow-scrolling: touch;
   height: 70vh;
   color: #e8d8b6;
   overflow: auto;
   font-size: 17px;
   font-weight: 300;
   font-family: lato, sans-serif;
   padding-right: 200px;
   padding: 20px 10% 30px 7.8%;
}
@media (max-width: 767px) {
   .about-overlay__inner {
      padding-left: 12%;
      height: 75vh;
   }
}
@media (max-width: 420px) {
   .about-overlay__inner {
      padding-left: 12%;
      padding-right: 10%;
      height: 70vh;
   }
}
.about-overlay__inner #mc-embedded-subscribe-form {
   max-width: 400px;
   margin-left: 0;
   margin-right: auto;
}
.about-overlay__inner .press {
   -webkit-box-pack: start !important;
   -ms-flex-pack: start !important;
   justify-content: flex-start !important;
}
.about-overlay__inner .press h5 {
   text-align: left;
}
.about-overlay__inner .press .press__logo {
   text-align: left;
   padding-left: 0;
}
.about-overlay h2 {
   font-family: freight-display-pro, serif;
   font-size: 62px;
   line-height: 1em;
   font-weight: 100;
   margin-bottom: 0.5em;
   margin-top: 0.1em;
}
@media (max-width: 480px) {
   .about-overlay h2 {
      font-size: 44px;
   }
}
@media (max-width: 340px) {
   .about-overlay h2 {
      font-size: 48px;
      line-height: 1em;
   }
}
.about-overlay p {
   -webkit-font-smoothing: antialiased;
   margin-bottom: 1.8em;
}
@media (max-width: 480px) {
   .about-overlay p {
      line-height: 1.3em;
   }
}
.about-overlay p em {
   font-family: freight-display-pro, serif;
   font-style: italic;
   font-size: 24px;
   font-weight: 500;
}
@media (max-width: 480px) {
   .about-overlay p em {
      font-size: 20px;
      line-height: 1.1em;
   }
}
.about-overlay .gradient-bottom {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   background: linear-gradient(180deg, rgba(39, 63, 93, 0.01) 0, #273f5d);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03273f5d",endColorstr="#273f5d",GradientType=0);
}
.about-overlay .gradient-bottom,
.about-overlay .gradient-top {
   display: block;
   position: relative;
   height: 30px;
   width: 100%;
   z-index: 20;
}
.about-overlay .gradient-top {
   -webkit-transform: translateY(100%);
   transform: translateY(100%);
   background: linear-gradient(180deg, #273f5d 0, rgba(39, 63, 93, 0.01));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#273f5d",endColorstr="#03273f5d",GradientType=0);
}
.about-overlay .social-media {
   margin-left: -17px;
}
.story-overlay {
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   width: 70vw;
   max-width: 900px;
   height: 60vh;
   background-color: #fff;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.6s ease-out;
   z-index: 15;
   border: 1px solid rgba(0, 0, 0, 0.89);
   box-shadow: 10px 10px 0 #dcbeb2;
   padding: 80px 20px 50px 50px;
}
@media (max-width: 480px) {
   .story-overlay {
      height: 70vh;
      width: 80vw;
      padding: 60px 10px 0 30px;
      box-shadow: none !important;
   }
}
.story-overlay.is-visible {
   opacity: 1;
   pointer-events: all;
}
.story-overlay:before {
   content: " ";
   background-color: #000;
   width: 100%;
   height: 38px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}
.story-overlay .gradient-top,
.story-overlay:after {
   height: 35px;
}
.story-overlay .gradient-top {
   content: " ";
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00ffffff",GradientType=0);
   z-index: 7;
   opacity: 0;
}
.story-overlay .gradient-bottom {
   display: block;
   position: relative;
   height: 35px;
   left: 0;
   right: 0;
   -webkit-transform: translateY(-90%);
   transform: translateY(-90%);
   width: 100%;
   z-index: 15;
   background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=0);
}
@media (min-width: 480px) and (max-width: 767px) {
   .story-overlay .gradient-bottom {
      bottom: calc(80px + 61vh);
   }
}
.story-overlay .close {
   color: #fff;
   cursor: pointer;
   position: absolute;
   top: 3px;
   right: 3px;
   z-index: 13;
   height: 35px;
   width: 35px;
}
.story-overlay .close:hover span {
   background: #273f5e;
}
.story-overlay .close span {
   background-color: #222;
   content: " ";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 18px;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 1px;
   transition: background 0.3s ease-out;
}
.story-overlay .close span:first-child {
   -webkit-transform: translateY(-50%) rotate(45deg);
   transform: translateY(-50%) rotate(45deg);
}
.story-overlay .close span:nth-child(2) {
   -webkit-transform: translateY(-50%) rotate(-45deg);
   transform: translateY(-50%) rotate(-45deg);
}
.story-overlay header {
   position: relative;
}
.story-overlay header h1 {
   font-family: freight-display-pro, serif;
   font-weight: 100;
   font-size: 56px;
   line-height: 0.8em;
   color: #222;
   display: inline-block;
}
@media (max-width: 480px) {
   .story-overlay header h1 {
      font-size: 52px;
   }
}
.story-overlay header h1 span.age {
   display: inline-block;
   font-family: lato, sans-serif;
   font-size: 20px;
   font-weight: 900;
   color: #273f5e;
   padding-left: 20px;
   margin-right: 30px;
   text-transform: uppercase;
   position: relative;
   margin-top: 6px;
   letter-spacing: 1px;
}
@media (max-width: 480px) {
   .story-overlay header h1 span.age {
      padding-left: 0;
      display: block;
   }
}
.story-overlay header h1 span.age:before {
   content: " ";
   display: inline-block;
   -webkit-transform: rotate(20deg);
   transform: rotate(20deg);
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   background-color: #273f5e;
   height: 18px;
   width: 2px;
   margin-right: 20px;
}
@media (max-width: 480px) {
   .story-overlay header h1 span.age:before {
      display: none;
   }
}
.story-overlay header .apt {
   position: absolute;
   top: 5px;
   right: 0;
   text-transform: uppercase;
   font-family: lato, sans-serif;
   font-size: 12px;
   font-weight: 900;
   letter-spacing: 1px;
   color: #5e5e5e;
}
@media (max-width: 480px) {
   .story-overlay header .apt {
      position: static;
      display: block;
      margin-bottom: 14px;
   }
}
.story-overlay .inner {
   -webkit-overflow-scrolling: touch;
   color: #222;
   overflow-y: auto;
   padding-right: 4%;
   max-height: 60vh;
   position: relative;
}
@media (max-width: 480px) {
   .story-overlay .inner {
      max-height: 60vh;
   }
}
.story-overlay .inner h2 {
   font-family: lato, sans-serif;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.story-overlay .inner p {
   font-family: freight-display-pro, serif;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 1.2em;
}
.story-overlay .story:before {
   display: inline-block;
   content: " ";
   margin-top: 28px;
   margin-bottom: 30px;
   height: 4px;
   width: 32px;
}
@media (max-width: 480px) {
   .story-overlay .story:before {
      margin-top: 15px;
      margin-bottom: 17px;
   }
}
.story-overlay__paging {
   display: inline-block;
   position: relative;
   z-index: 20;
}
@media (max-width: 480px) {
   .story-overlay__paging {
      display: none;
   }
}
.story-overlay__paging a {
   font-family: lato, sans-serif;
   font-size: 13px;
   line-height: 1em;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   display: inline-block;
}
.story-overlay__paging .story-overlay__next.is-disabled,
.story-overlay__paging .story-overlay__prev.is-disabled {
   opacity: 0.5;
   pointer-events: none;
}
.story-overlay__paging .story-overlay__prev {
   position: relative;
   padding-right: 20px;
   padding-left: 8px;
   border-left: 2px solid #e8d8b6;
}
.story-overlay__paging .story-overlay__prev:after,
.story-overlay__paging .story-overlay__prev:before {
   background: #fff;
   content: " ";
   height: 2px;
   right: 0;
   position: absolute;
   opacity: 1;
   top: 6px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: right center;
   transform-origin: right center;
   transition: all 1s ease-out 0.5s;
   width: 10px;
}
.story-overlay__paging .story-overlay__prev:after {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.story-overlay__paging .story-overlay__next {
   position: relative;
   padding-left: 20px;
   padding-right: 8px;
}
.story-overlay__paging .story-overlay__next:after,
.story-overlay__paging .story-overlay__next:before {
   background: #fff;
   content: " ";
   height: 2px;
   left: 0;
   position: absolute;
   opacity: 1;
   top: 6px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: left center;
   transform-origin: left center;
   transition: all 1s ease-out 0.5s;
   width: 10px;
}
.story-overlay__paging .story-overlay__next:after {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.story-overlay__paging-mobile {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   z-index: 15;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
}
@media (min-width: 480px) {
   .story-overlay__paging-mobile {
      display: none;
   }
}
.story-overlay__paging-mobile .is-disabled {
   color: #e2e2e2 !important;
   pointer-events: none !important;
}
.story-overlay__paging-mobile .next,
.story-overlay__paging-mobile .prev {
   -ms-flex-preferred-size: 50%;
   flex-basis: 50%;
   text-align: center;
   border-top: 2px solid #fff;
   padding-top: 13px;
   padding-bottom: 14px;
   text-transform: uppercase;
   font-family: lato, sans-serif;
   font-weight: 800;
   font-size: 12px;
}
.story-overlay__paging-mobile .prev {
   border-right: 1px solid #fff;
}
.story-overlay__paging-mobile .next {
   border-left: 1px solid #fff;
}
#story-overlay.theme-1 {
   box-shadow: 10px 10px 0 #b2a1a3;
}
#story-overlay.theme-1 .story:before,
#story-overlay.theme-1:before {
   background-color: #dec2c4;
}
#story-overlay.theme-1 .apt,
#story-overlay.theme-1 .story-overlay__paging > a {
   color: #dec2c4;
}
#story-overlay.theme-1 .story-overlay__paging > a:after,
#story-overlay.theme-1 .story-overlay__paging > a:before {
   background-color: #dec2c4;
}
#story-overlay.theme-1 .story-overlay__prev {
   border-color: #dec2c4;
}
#story-overlay.theme-1 .story-overlay__paging-mobile > a {
   border-color: #dec2c4;
   color: #dec2c4;
}
#story-overlay.theme-2 {
   box-shadow: 10px 10px 0 #b09a92;
}
#story-overlay.theme-2 .story:before,
#story-overlay.theme-2:before {
   background-color: #dbbeb3;
}
#story-overlay.theme-2 .apt,
#story-overlay.theme-2 .story-overlay__paging > a {
   color: #dbbeb3;
}
#story-overlay.theme-2 .story-overlay__paging > a:after,
#story-overlay.theme-2 .story-overlay__paging > a:before {
   background-color: #dbbeb3;
}
#story-overlay.theme-2 .story-overlay__prev {
   border-color: #dbbeb3;
}
#story-overlay.theme-2 .story-overlay__paging-mobile > a {
   border-color: #dbbeb3;
   color: #dbbeb3;
}
#story-overlay.theme-3 {
   box-shadow: 10px 10px 0 #c3a288;
}
#story-overlay.theme-3 .story:before,
#story-overlay.theme-3:before {
   background-color: #e7c9b1;
}
#story-overlay.theme-3 .apt,
#story-overlay.theme-3 .story-overlay__paging > a {
   color: #e7c9b1;
}
#story-overlay.theme-3 .story-overlay__paging > a:after,
#story-overlay.theme-3 .story-overlay__paging > a:before {
   background-color: #e7c9b1;
}
#story-overlay.theme-3 .story-overlay__prev {
   border-color: #e7c9b1;
}
#story-overlay.theme-3 .story-overlay__paging-mobile > a {
   border-color: #e7c9b1;
   color: #e7c9b1;
}
#story-overlay.theme-4 {
   box-shadow: 10px 10px 0 #cdb787;
}
#story-overlay.theme-4 .story:before,
#story-overlay.theme-4:before {
   background-color: #eddbb4;
}
#story-overlay.theme-4 .apt,
#story-overlay.theme-4 .story-overlay__paging > a {
   color: #eddbb4;
}
#story-overlay.theme-4 .story-overlay__paging > a:after,
#story-overlay.theme-4 .story-overlay__paging > a:before {
   background-color: #eddbb4;
}
#story-overlay.theme-4 .story-overlay__prev {
   border-color: #eddbb4;
}
#story-overlay.theme-4 .story-overlay__paging-mobile > a {
   border-color: #eddbb4;
   color: #eddbb4;
}
#story-overlay.theme-5 {
   box-shadow: 10px 10px 0 #c3bd90;
}
#story-overlay.theme-5 .story:before,
#story-overlay.theme-5:before {
   background-color: #e7e2b8;
}
#story-overlay.theme-5 .apt,
#story-overlay.theme-5 .story-overlay__paging > a {
   color: #e7e2b8;
}
#story-overlay.theme-5 .story-overlay__paging > a:after,
#story-overlay.theme-5 .story-overlay__paging > a:before {
   background-color: #e7e2b8;
}
#story-overlay.theme-5 .story-overlay__prev {
   border-color: #e7e2b8;
}
#story-overlay.theme-5 .story-overlay__paging-mobile > a {
   border-color: #e7e2b8;
   color: #e7e2b8;
}
#story-overlay.theme-6 {
   box-shadow: 10px 10px 0 #b4b8a5;
}
#story-overlay.theme-6 .story:before,
#story-overlay.theme-6:before {
   background-color: #dde2c7;
}
#story-overlay.theme-6 .apt,
#story-overlay.theme-6 .story-overlay__paging > a {
   color: #dde2c7;
}
#story-overlay.theme-6 .story-overlay__paging > a:after,
#story-overlay.theme-6 .story-overlay__paging > a:before {
   background-color: #dde2c7;
}
#story-overlay.theme-6 .story-overlay__prev {
   border-color: #dde2c7;
}
#story-overlay.theme-6 .story-overlay__paging-mobile > a {
   border-color: #dde2c7;
   color: #dde2c7;
}
#story-overlay.theme-7 {
   box-shadow: 10px 10px 0 #b5c2aa;
}
#story-overlay.theme-7 .story:before,
#story-overlay.theme-7:before {
   background-color: #dbe9d0;
}
#story-overlay.theme-7 .apt,
#story-overlay.theme-7 .story-overlay__paging > a {
   color: #dbe9d0;
}
#story-overlay.theme-7 .story-overlay__paging > a:after,
#story-overlay.theme-7 .story-overlay__paging > a:before {
   background-color: #dbe9d0;
}
#story-overlay.theme-7 .story-overlay__prev {
   border-color: #dbe9d0;
}
#story-overlay.theme-7 .story-overlay__paging-mobile > a {
   border-color: #dbe9d0;
   color: #dbe9d0;
}
#story-overlay.theme-8 {
   box-shadow: 10px 10px 0 #aac2b1;
}
#story-overlay.theme-8 .story:before,
#story-overlay.theme-8:before {
   background-color: #d0e9d7;
}
#story-overlay.theme-8 .apt,
#story-overlay.theme-8 .story-overlay__paging > a {
   color: #d0e9d7;
}
#story-overlay.theme-8 .story-overlay__paging > a:after,
#story-overlay.theme-8 .story-overlay__paging > a:before {
   background-color: #d0e9d7;
}
#story-overlay.theme-8 .story-overlay__prev {
   border-color: #d0e9d7;
}
#story-overlay.theme-8 .story-overlay__paging-mobile > a {
   border-color: #d0e9d7;
   color: #d0e9d7;
}
#story-overlay.theme-9 {
   box-shadow: 10px 10px 0 #aac2c2;
}
#story-overlay.theme-9 .story:before,
#story-overlay.theme-9:before {
   background-color: #d0e9e9;
}
#story-overlay.theme-9 .apt,
#story-overlay.theme-9 .story-overlay__paging > a {
   color: #d0e9e9;
}
#story-overlay.theme-9 .story-overlay__paging > a:after,
#story-overlay.theme-9 .story-overlay__paging > a:before {
   background-color: #d0e9e9;
}
#story-overlay.theme-9 .story-overlay__prev {
   border-color: #d0e9e9;
}
#story-overlay.theme-9 .story-overlay__paging-mobile > a {
   border-color: #d0e9e9;
   color: #d0e9e9;
}
#story-overlay.theme-10 {
   box-shadow: 10px 10px 0 #9fb8cd;
}
#story-overlay.theme-10 .story:before,
#story-overlay.theme-10:before {
   background-color: #cadeee;
}
#story-overlay.theme-10 .apt,
#story-overlay.theme-10 .story-overlay__paging > a {
   color: #cadeee;
}
#story-overlay.theme-10 .story-overlay__paging > a:after,
#story-overlay.theme-10 .story-overlay__paging > a:before {
   background-color: #cadeee;
}
#story-overlay.theme-10 .story-overlay__prev {
   border-color: #cadeee;
}
#story-overlay.theme-10 .story-overlay__paging-mobile > a {
   border-color: #cadeee;
   color: #cadeee;
}
#story-overlay.theme-11 {
   box-shadow: 10px 10px 0 #a0aac1;
}
#story-overlay.theme-11 .story:before,
#story-overlay.theme-11:before {
   background-color: #c6d0e7;
}
#story-overlay.theme-11 .apt,
#story-overlay.theme-11 .story-overlay__paging > a {
   color: #c6d0e7;
}
#story-overlay.theme-11 .story-overlay__paging > a:after,
#story-overlay.theme-11 .story-overlay__paging > a:before {
   background-color: #c6d0e7;
}
#story-overlay.theme-11 .story-overlay__prev {
   border-color: #c6d0e7;
}
#story-overlay.theme-11 .story-overlay__paging-mobile > a {
   border-color: #c6d0e7;
   color: #c6d0e7;
}
#story-overlay.theme-12 {
   box-shadow: 10px 10px 0 #b1aac2;
}
#story-overlay.theme-12 .story:before,
#story-overlay.theme-12:before {
   background-color: #d7d0e9;
}
#story-overlay.theme-12 .apt,
#story-overlay.theme-12 .story-overlay__paging > a {
   color: #d7d0e9;
}
#story-overlay.theme-12 .story-overlay__paging > a:after,
#story-overlay.theme-12 .story-overlay__paging > a:before {
   background-color: #d7d0e9;
}
#story-overlay.theme-12 .story-overlay__prev {
   border-color: #d7d0e9;
}
#story-overlay.theme-12 .story-overlay__paging-mobile > a {
   border-color: #d7d0e9;
   color: #d7d0e9;
}
.flyout {
   -webkit-font-smoothing: antialiased;
   background-color: #233651;
   list-style-type: none;
   line-height: 4.2em;
   height: 100vh;
   max-width: 400px;
   padding: 24vh 7% 150px 100px;
   position: fixed;
   right: 0;
   top: 0;
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
   transition: -webkit-transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 480px) {
   .flyout {
      padding-top: 70px;
      padding-left: 7%;
      height: 100vh;
   }
}
.flyout--open {
   -webkit-transform: translateX(0);
   transform: translateX(0);
}
.flyout > p {
   color: #0b1928;
   display: table;
   font-family: lato, sans-serif;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 1px;
   text-align: center;
   text-transform: uppercase;
   white-space: nowrap;
   width: 100%;
}
.flyout > p:after,
.flyout > p:before {
   background: url(data:image/gif;base64,R0lGODlhAQALAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAABAAsAAAIElA1nBQA7)
      repeat-x 50%;
   content: "";
   display: table-cell;
   width: 30%;
}
.flyout li,
.flyout p {
   line-height: 12vh;
}
.flyout__soon {
   text-align: center;
   list-style: none;
}
.flyout__soon li {
   font-size: 32px;
   color: #0b1928 !important;
}
.flyout__menu {
   list-style: none;
}
.flyout__menu li {
   text-align: center;
}
.flyout__menu li > a {
   color: #e8d8b6 !important;
   font-size: 32px;
   font-family: freight-display-pro, serif;
   line-height: 1.8em;
   color: #fff;
   text-decoration: none;
}
.newsletter {
   position: relative;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1rem;
}
.newsletter .mc-field-group {
   display: inline-block;
   width: 100%;
}
.newsletter label {
   display: none;
}
.newsletter input[type="email"] {
   background: transparent;
   -webkit-appearance: none;
   border-style: solid;
   box-sizing: border-box;
   border-color: transparent;
   border-bottom: 1px solid #e8d8b6;
   color: #e8d8b6;
   display: block;
   font-size: 18px;
   font-family: freight-display-pro, serif;
   padding: 14px 10px 12px;
   width: 100%;
}
.newsletter .response {
   padding-top: 0.5rem;
}
.newsletter .response a {
   text-decoration: underline;
}
.newsletter .button {
   border: none;
   background-color: transparent;
   padding: 10px 0 0;
   margin: 0;
   color: #e8d8b6;
   height: 40px;
   width: auto;
}
@media (min-width: 475px) {
   .newsletter .button {
      position: absolute;
      top: 2px;
      right: 10px;
   }
}
#wrapper {
   overflow: hidden;
   z-index: 10;
   position: relative;
}
.browserupgrade {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
#bg-sound {
   position: absolute;
   top: 0;
   opacity: 0;
}
.manage-stories {
   background-color: #222;
   border: 1px solid #999;
   color: #c2c2c2;
   padding: 5px 9px;
   font-family: lato, sans-serif;
   font-weight: 500;
   font-size: 12px;
   position: fixed;
   top: 15px;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   right: 15px;
   z-index: 20;
}
.manage-stories:hover {
   background-color: #000;
   color: #fff;
}
.spacer {
   display: block;
   height: 300px;
   width: 100%;
}
@media (max-width: 500px) {
   .spacer {
      height: 330px;
   }
}
@media (max-width: 375px) {
   .spacer {
      height: 330px;
   }
}
@media (max-width: 320px) {
   .spacer {
      height: 300px;
   }
}
.logo {
   margin: 0 auto;
   width: 75vw;
   display: block;
   font-size: 18px;
   font-weight: 200;
   line-height: 30px;
   background-color: transparent;
   border-radius: 6px;
   position: fixed;
   top: 70px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   z-index: 7;
   text-align: center;
}
@media (max-width: 480px) {
   .logo {
      top: 100px;
   }
}
.logo__title {
   font-size: 60px;
   line-height: 1;
   letter-spacing: -1px;
   text-align: center;
}
.logo__title img {
   height: auto;
   max-width: 100%;
   max-width: 400px;
   width: auto;
}
.logo__slogan {
   color: #e8d8b6;
   display: inline-block;
   font-family: freight-display-pro, serif;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2em;
}
.logo__slogan br {
   display: none;
}
@media (max-width: 480px) {
   .logo__slogan {
      font-size: 22px;
   }
   .logo__slogan br {
      display: inline-block;
   }
}
@media (max-width: 375px) {
   .logo__slogan {
      font-size: 19px;
   }
}
.mainheader {
   position: fixed;
   z-index: 15;
   left: 0;
   top: 0;
   right: 0;
   padding: 60px 7% 0;
}
@media (max-width: 480px) {
   .mainheader {
      padding-top: 20px;
   }
}
.btn-more {
   float: right;
   position: relative;
   z-index: 10;
}
.btn-more__more {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   font-family: lato, sans-serif;
   font-size: 17px;
   font-weight: 700;
   line-height: 18px;
   color: #fff;
   opacity: 0;
}
@media (max-width: 480px) {
   .btn-more__more {
      font-size: 13px;
      line-height: 1em;
      top: 10px;
      max-width: 30px;
   }
}
.btn-more__logo,
.btn-more__more {
   transition: opacity 0.5s ease-out 1s;
   top: 0;
}
.btn-more__logo path,
.btn-more__more path {
   stroke: transparent;
   fill: #e8d8b6;
}
@media (max-width: 480px) {
   .btn-more__logo,
   .btn-more__more {
      max-width: 30px;
   }
}
.btn-more__logo path {
   fill: #e8d8b6;
   border: 1px solid red;
}
.btn-more:after,
.btn-more:before {
   background: #e8d8b6;
   content: " ";
   height: 30px;
   left: 50%;
   position: absolute;
   opacity: 0;
   top: 50%;
   -webkit-transform: translateY(-50%) rotate(-45deg);
   transform: translateY(-50%) rotate(-45deg);
   transition: opacity 0.3s ease-out 0s;
   width: 2px;
}
.btn-more:after {
   -webkit-transform: translateY(-50%) rotate(45deg);
   transform: translateY(-50%) rotate(45deg);
}
.btn-more:hover:after,
.btn-more:hover:before {
   background-color: #e8d8b6;
}
.btn-more__open:after,
.btn-more__open:before {
   opacity: 1 !important;
   transition-delay: 1.5s;
}
.btn-more__open .btn-more__logo,
.btn-more__open .btn-more__more {
   opacity: 0 !important;
   transition-delay: 1s;
}
.is-logo-visible .btn-more__logo {
   opacity: 0;
   transition-delay: 0s !important;
}
.is-logo-visible .btn-more__more {
   opacity: 1;
   transition-delay: 0s !important;
}
.btn-about {
   float: left;
   position: relative;
   z-index: 11;
   margin-top: 20px;
   text-align: right;
}
.btn-about__checkbox {
   -webkit-touch-callout: none;
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
}
.btn-about__checkbox:checked ~ .btn-about__line {
   opacity: 1;
   -webkit-transform: rotate(45deg) translate(-6px);
   transform: rotate(45deg) translate(-6px);
}
.btn-about__checkbox:checked ~ .btn-about__line:nth-last-child(2) {
   opacity: 1;
   -webkit-transform: rotate(-45deg) translate(-6px);
   transform: rotate(-45deg) translate(-6px);
}
.btn-about__checkbox:checked ~ .btn-about__line:nth-last-child(3) {
   opacity: 0;
   -webkit-transform: rotate(0deg) scale(0.2);
   transform: rotate(0deg) scale(0.2);
}
.btn-about__line {
   display: block;
   width: 30px;
   height: 2px;
   margin-bottom: 7px;
   position: relative;
   background: #e8d8b6;
   border-radius: 3px;
   z-index: 1;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.btn-about__line:first-child {
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
}
.btn-about__line:nth-last-child(2) {
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
}
.loading {
   position: fixed;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   z-index: 14;
   opacity: 0;
   pointer-events: none;
}
.loading,
.loading-isactive {
   transition: opacity 0.5s ease-out;
}
.loading-isactive {
   opacity: 1;
}
.loading #svg-spinner {
   width: 10vmin;
}
footer {
   color: #27405e;
   width: 100%;
   position: relative;
   z-index: 11;
   margin-top: 0;
   display: -ms-grid;
   display: grid;
   text-align: center;
   -ms-grid-columns: 100%;
   grid-template-columns: 100%;
   -ms-grid-rows: auto auto;
   grid-template-rows: auto auto;
}
footer .tts__collapsable {
   background-color: #e8d8b6;
   left: 0;
   right: 0;
   display: -ms-grid;
   display: grid;
   -ms-grid-column: 1;
   grid-column-start: 1;
   grid-column-end: 1;
   -ms-grid-row: 1;
   grid-row-start: 1;
   grid-row-end: 1;
   -ms-grid-columns: 33.333% 33.3333% 33.3333%;
   grid-template-columns: 33.333% 33.3333% 33.3333%;
   -ms-grid-rows: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
   height: auto;
   padding-top: 0;
   padding-bottom: 0;
   position: absolute;
   transition: -webkit-transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
   z-index: 12;
}
@media (max-width: 767px) {
   footer .tts__collapsable {
      display: block;
   }
}
footer .tts__collapsable__open {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
}
footer .tts__collapsable .tts__close {
   position: absolute;
   top: 25px;
   right: 30px;
   width: 25px;
   height: 25px;
}
footer .tts__collapsable .tts__close:after {
   content: " ";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}
footer .tts__collapsable .tts__close span {
   background-color: #222;
   content: " ";
   position: absolute;
   left: 50%;
   height: 25px;
   width: 1px;
   transition: background 0.3s ease-out;
}
footer .tts__collapsable .tts__close span:first-child {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
footer .tts__collapsable .tts__close span:nth-child(2) {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
footer h2 {
   font-family: freight-display-pro, serif;
   font-size: 44px;
   line-height: 1em;
   font-weight: 200;
   margin-top: 30px;
   margin-bottom: 1rem;
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 1;
   grid-row-start: 1;
   grid-row-end: 1;
}
@media (max-width: 480px) {
   footer h2 {
      font-size: 36px;
      padding-left: 30px;
      padding-right: 30px;
   }
}
footer .subline {
   font-family: lato, sans-serif;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 2;
   grid-row-start: 2;
   grid-row-end: 2;
   margin-bottom: 2rem;
}
footer .subline,
footer h2 {
   text-align: center;
}
footer h3 {
   font-family: lato, sans-serif;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 13px;
}
footer p {
   letter-spacing: 0.04em;
}
footer p a {
   text-decoration: underline;
}
footer a {
   color: inherit;
   text-decoration: none;
}
footer .helpline {
   -ms-grid-column: 1;
   grid-column-start: 1;
   grid-column-end: 1;
   -ms-grid-row: 3;
   grid-row-start: 3;
   grid-row-end: 3;
   color: #203046;
   border-right: 1px solid #0b1928;
   margin-bottom: 30px;
}
footer .suicide-prevention {
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 3;
   grid-row-start: 3;
   grid-row-end: 3;
   color: #203046;
   margin-bottom: 30px;
}
footer .kids-help {
   -ms-grid-column: 3;
   grid-column-start: 3;
   grid-column-end: 3;
   -ms-grid-row: 3;
   grid-row-start: 3;
   grid-row-end: 3;
   color: #203046;
   border-left: 1px solid #0b1928;
   margin-bottom: 30px;
}
footer .follow-us {
   position: relative;
   z-index: 13;
   background-color: #27405e;
   -ms-grid-column: 1;
   grid-column-start: 1;
   grid-column-end: 1;
   -ms-grid-row: 3;
   grid-row-start: 3;
   grid-row-end: 3;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 26% 48% 26%;
   grid-template-columns: 26% 48% 26%;
   -ms-grid-rows: auto auto auto;
   grid-template-rows: auto auto auto;
   color: #e8d8b6;
   padding-top: 33px;
   padding-bottom: 33px;
   text-align: center;
}
@media (max-width: 767px) {
   footer .follow-us {
      display: block;
   }
}
footer .follow-us .social-media {
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 3;
   grid-row-start: 3;
   grid-row-end: 3;
}
footer .follow-us #mc_embed_signup {
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 2;
   grid-row-start: 2;
   grid-row-end: 2;
}
footer .follow-us .credits {
   -ms-grid-column: 2;
   grid-column-start: 2;
   grid-column-end: 2;
   -ms-grid-row: 4;
   grid-row-start: 4;
   grid-row-end: 4;
   font-size: 19px;
   font-weight: 500;
   color: #e8d8b6;
   opacity: 0.5;
   padding-left: 25px;
   padding-right: 25px;
}
@media (max-width: 767px) {
   footer .follow-us .credits {
      margin-top: 30px;
   }
}
footer .follow-us .credits > a {
   text-decoration: none;
}
footer .follow-us .credits > a:hover {
   color: #fff;
}
.press {
   background-color: #1b2334;
   position: relative;
   padding: 33px 5%;
   z-index: 20;
}
.press__nobg {
   background-color: transparent;
   padding: 45px 0 0;
}
.press__container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
@media (max-width: 767px) {
   .press {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}
.press h5 {
   color: #e8d8b6;
   font-family: lato, sans-serif;
   font-size: 1rem;
   position: relative;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 1rem;
}
@media (max-width: 767px) {
   .press h5 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: center;
   }
}
.press__logo {
   padding: 15px 20px;
   vertical-align: middle;
   text-align: center;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 10%;
   flex: 1 1 10%;
}
@media (max-width: 767px) {
   .press__logo {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
      flex: 1 1 33%;
   }
}
.press__logo a {
   position: relative;
}
.press__logo a:hover img {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.press__logo a img {
   transition: all 0.3s ease-out;
}
.press__logo img {
   height: auto;
   max-width: 100%;
   vertical-align: middle;
}
.city {
   margin-left: auto;
   margin-right: auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   min-height: 100vh;
   width: 100%;
   position: relative;
   z-index: 10;
}
.city__load-more {
   position: absolute;
   right: 7%;
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
   bottom: 24vw;
}
@media (max-width: 767px) {
   .city__load-more {
      width: 5%;
   }
}
@media (max-width: 480px) {
   .city__load-more {
      bottom: 74vw;
      right: 12%;
      width: auto;
   }
}
@media (max-width: 375px) {
   .city__load-more {
      bottom: 74vw;
      right: 12%;
      width: auto;
   }
}
.city__load-more a {
   display: block;
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   opacity: 1;
   pointer-events: none;
   transition: opacity 0.1s ease-out 0.5s, -webkit-transform 0.5s ease-out;
   transition: transform 0.5s ease-out, opacity 0.1s ease-out 0.5s;
   transition: transform 0.5s ease-out, opacity 0.1s ease-out 0.5s, -webkit-transform 0.5s ease-out;
}
.city__load-more a.is-visible {
   pointer-events: all;
   opacity: 1;
   transition: opacity 0.1s ease-out 0s, -webkit-transform 0.5s ease-out;
   transition: transform 0.5s ease-out, opacity 0.1s ease-out 0s;
   transition: transform 0.5s ease-out, opacity 0.1s ease-out 0s, -webkit-transform 0.5s ease-out;
   -webkit-transform: translateX(0);
   transform: translateX(0);
}
.city__load-more img {
   height: auto;
   width: 100%;
   max-width: 41px;
}
.building {
   margin-right: 7%;
   margin-left: 7%;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-line-pack: justify;
   align-content: space-between;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   overflow: visible;
}
.building .storey {
   background: #0b1928;
   position: relative;
   -ms-flex-preferred-size: 30%;
   flex-basis: 30%;
   cursor: pointer;
}
@media (max-width: 766px) and (min-width: 480px) {
   .building .storey:first-child,
   .building .storey:nth-child(0),
   .building .storey:nth-child(2),
   .building .storey:nth-child(3),
   .building .storey:nth-child(4),
   .building .storey:nth-child(5),
   .building .storey:nth-child(6),
   .building .storey:nth-child(7),
   .building .storey:nth-child(8),
   .building .storey:nth-child(9),
   .building .storey:nth-child(10),
   .building .storey:nth-child(11),
   .building .storey:nth-child(12),
   .building .storey:nth-child(13),
   .building .storey:nth-child(14),
   .building .storey:nth-child(15),
   .building .storey:nth-child(16),
   .building .storey:nth-child(17),
   .building .storey:nth-child(18),
   .building .storey:nth-child(21),
   .building .storey:nth-child(24),
   .building .storey:nth-child(27),
   .building .storey:nth-child(30),
   .building .storey:nth-child(33),
   .building .storey:nth-child(36),
   .building .storey:nth-child(39),
   .building .storey:nth-child(42),
   .building .storey:nth-child(45),
   .building .storey:nth-child(48) {
      -webkit-transform: translateY(11.5%) scale(1);
      transform: translateY(11.5%) scale(1);
   }
   .building .storey.placeholder + .storey.placeholder {
      display: none;
   }
}
@media (min-width: 767px) {
   .building .storey:first-child,
   .building .storey:nth-child(0),
   .building .storey:nth-child(3),
   .building .storey:nth-child(4),
   .building .storey:nth-child(6),
   .building .storey:nth-child(7),
   .building .storey:nth-child(9),
   .building .storey:nth-child(10),
   .building .storey:nth-child(12),
   .building .storey:nth-child(13),
   .building .storey:nth-child(15),
   .building .storey:nth-child(16),
   .building .storey:nth-child(18),
   .building .storey:nth-child(19),
   .building .storey:nth-child(21),
   .building .storey:nth-child(22),
   .building .storey:nth-child(24),
   .building .storey:nth-child(25),
   .building .storey:nth-child(27),
   .building .storey:nth-child(28),
   .building .storey:nth-child(30),
   .building .storey:nth-child(31),
   .building .storey:nth-child(33),
   .building .storey:nth-child(34),
   .building .storey:nth-child(36),
   .building .storey:nth-child(37),
   .building .storey:nth-child(39),
   .building .storey:nth-child(40),
   .building .storey:nth-child(42),
   .building .storey:nth-child(43),
   .building .storey:nth-child(45),
   .building .storey:nth-child(46),
   .building .storey:nth-child(48),
   .building .storey:nth-child(49) {
      -webkit-transform: translateY(11.5%) scale(1);
      transform: translateY(11.5%) scale(1);
   }
}
@media (min-width: ${({ theme }: ThemeContainer) => theme.VARIABLES.BREAK_POINTS.MEDIUM}) {
   .building .storey:nth-child(3n-1) {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
   }
}
@media (max-width: 767px) {
   .building .storey {
      -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
   }
   .building .storey:nth-child(2) {
      display: none;
   }
}
@media (max-width: 480px) {
   .building .storey {
      -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
      margin-left: auto;
      margin-right: auto;
   }
   .building .storey.placeholder,
   .building .storey:first-child {
      display: none;
   }
   .building .storey:nth-child(2) {
      display: block;
   }
   .building .storey:nth-child(3) {
      display: none;
   }
}
.building .storey.attic {
   background-color: transparent !important;
   -ms-flex-item-align: end;
   align-self: flex-end;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   padding-top: 8vw;
   cursor: default;
   bottom: -1px;
}
.building .storey.attic:after {
   display: none;
}
.building .storey.attic:nth-child(2):before,
.building .storey.attic:nth-child(3):before {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 40px;
   background-color: #0b1928;
   content: " ";
}
.building .storey.attic.attic-1 img {
   margin-left: -4%;
   width: 108%;
}
.building .storey.attic.attic-2 img {
   margin-left: -2.1%;
   width: 104.8%;
}
.building .storey.attic.attic-3 {
   overflow: visible;
}
.building .storey.attic.attic-3 img {
   margin-left: -2%;
   width: 104.8%;
}
.building .storey:after {
   content: " ";
   position: absolute;
   left: 5px;
   top: 5px;
   right: 5px;
   bottom: 5px;
   background-color: #85c0d0;
   transition: background-color 0.3s ease-out;
   z-index: 1;
}
.building .storey.is-active:after,
.building .storey:hover:after {
   background-color: #f5d297;
}
.building .storey.hidden {
   height: 0;
   overflow: hidden;
}
.building .storey.hidden:first-child {
   height: 0 !important;
}
.building .storey img {
   position: relative;
   z-index: 10;
   display: block;
   height: auto;
   width: 100%;
}
.building .store-front {
   cursor: default;
}
.building .store-front-1 {
   -webkit-transform: translateY(10.5%) scale(1) !important;
   transform: translateY(10.5%) scale(1) !important;
}
.building .store-front-1 img:first-of-type {
   margin-left: -3px;
   width: 101.5%;
}
.building .store-front-1 .storey__cat {
   position: absolute;
   z-index: 20;
   top: 51.6%;
   right: 3%;
   height: auto;
   width: 28%;
}
@media (max-width: 767px) {
   .building .store-front-1 .storey__cat {
      top: 56.9%;
   }
}
@media (max-width: 480px) {
   .building .store-front-1 {
      display: none;
   }
}
.building .store-front-2 > img:first-of-type {
   margin-left: -5px;
   width: 104.5%;
}
@media (max-width: 767px) and (min-width: 480px) {
   .building .store-front-2 {
      display: none;
   }
}
.building .store-front-2 .storey__lottery {
   cursor: pointer;
   position: absolute;
   top: 40.2%;
   left: 10%;
   width: 6.5%;
}
.building .store-front-2 .storey__lottery p {
   color: #e8d8b6;
   font-family: lato, sans-serif;
   font-size: 11px;
   font-weight: 900;
   left: 0;
   position: absolute;
   text-align: center;
   top: -10px;
   -webkit-transform: translate(-100%, -100%);
   transform: translate(-100%, -100%);
   z-index: 10;
   opacity: 0;
}
.building .store-front-2 .storey__lottery p:after {
   background: #e8d8b6;
   content: " ";
   height: 20px;
   left: 60%;
   position: absolute;
   bottom: -25px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   width: 1px;
   z-index: 11;
}
.building .store-front-2 .storey__lottery--default img:nth-child(2),
.building .store-front-2 .storey__lottery--default p,
.building .store-front-2 .storey__lottery--winner img:first-of-type {
   display: none;
}
.building .store-front-2 .storey__lottery--winner p {
   display: block;
   opacity: 1;
}
.building .store-front-3 {
   -webkit-transform: translateY(10.5%) scale(1) !important;
   transform: translateY(10.5%) scale(1) !important;
}
.building .store-front-3 img:first-of-type {
   margin-left: -3px;
   width: 101.5%;
}
@media (max-width: 768px) {
   .building .store-front-3 {
      -webkit-transform: translateY(0) scale(1) !important;
      transform: translateY(0) scale(1) !important;
   }
}
@media (max-width: 480px) {
   .building .store-front-3 {
      display: none;
   }
}
.building .store-front-3 .storey__cross {
   position: absolute;
   z-index: 20;
   top: -7.3%;
   left: -2.2%;
   height: auto;
   width: 30%;
}
@media (max-width: 768px) {
   .building .store-front-3 .storey__cross {
      top: -8%;
      width: 29.9%;
   }
}
