@import "./../../../styles/abstracts/variables";

.pd-text {
   &.left {
      text-align: left;
   }

   &.center {
      text-align: center;
   }

   &.right {
      text-align: right;
   }

   &.xsmall {
      font-size: $font-size-extra-small;
   }

   &.small {
      font-size: $font-size-small;
   }

   &.medium {
      font-size: $font-size-medium;
   }

   &.large {
      font-size: $font-size-large;
   }

   &.xlarge {
      font-size: $font-size-extra-large;
   }
}
