* {
   box-sizing: border-box;
}

html {
   // font-size: 62.5%; // Causes rem to equal 1
   font-size: 18px;
   color: #222222;
   scroll-behavior: smooth;
}

body {
   font-family: "Frank Ruhl Libre", serif;
   background-color: #1b2334;
   // line-height: 1.6;
   margin: 0;
}

*::-webkit-scrollbar {
   width: 0.5em;
}

*::-webkit-scrollbar-thumb {
   background-color: #e8d8b6;
   border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
}
