@import "./../../../styles/abstracts/variables";

.pd-navigation-menu {
   position: relative;
   display: flex;
   background-color: $card-background;

   &.horizontal {
      flex-direction: row;
   }

   &.vertical {
      flex-direction: column;
      width: 240px;
      border-right: 1px solid #eeeeee;
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
      height: 100%;
   }

   .pd-navigation-menu-item {
      text-align: left;

      margin: 0 $margin-standard;
      padding: $padding-standard;
      border-radius: 7px;
      transition: background-color 0.3s ease;

      &:hover {
         cursor: pointer;
         text-decoration: none;
         background-color: rgba(38, 50, 56, 0.08);
      }
   }
}
