@import "./../../../styles/abstracts/variables";

.pd-button {
   cursor: pointer;
   border: none;
   outline: none;

   font-family: Montserrat;
   font-size: $font-size-small;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
   text-align: center;
   letter-spacing: 2px;
   color: #ffffff;

   border-radius: 20px;
   background-color: blue;

   min-width: 200px;
   padding: 12px 0;

   &:hover {
      background-color: darken($color: blue, $amount: 10);
      transition: all 0.2s ease;
   }

   &:active {
      background-color: darken($color: blue, $amount: 15);
      transform: scale(0.95);
      transition: background-color 0.2s ease;
   }

   &[disabled] {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
   }
}
